node_modules
dist
.env
.DS_Store
*.log
logs/

# Ignore USDA data import files
nutrition_data/**/*.json
nutrition_data/**/*.csv
nutrition_data/**/*.zip
nutrition_data/**/*.xlsx

# Vim swap files
*.sw?

# Intellij settings files
.idea
.vscode
.cursor
postgres_data

