node_modules
dist
.env
.DS_Store
*.log
logs/

# Ignore USDA data import files
usda_data/**/*.json
usda_data/**/*.csv
usda_data/**/*.zip
usda_data/**/*.xlsx

# Vim swap files
*.sw?

# Intellij settings files
.idea
.vscode
.cursor
postgres_data

